
{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
<div class="form-group">
    {{ form_label(form.dateVisite, 'dateVisite') }}
    {{ form_widget(form.dateVisite, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">{{ form_errors(form.dateVisite) }}</div>
    </div>
        <div class="form-group">
            {{ form_label(form.numero, 'numero') }}
            {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">{{ form_errors(form.numero) }}</div>
            </div>
            <div class="form-group">
                {{ form_label(form.name, 'name') }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="text-danger">{{ form_errors(form.name) }}</div>
                </div>
                <div class="form-group">
                    {{ form_label(form.email, 'email') }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="text-danger">{{ form_errors(form.email) }}</div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.refB, 'refB') }}
                        {{ form_widget(form.refB, {'attr': {'class': 'form-control'}}) }}
                        <div class="text-danger">{{ form_errors(form.refB) }}</div>
                        </div>

    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}