{% extends 'base.html.twig' %}

{% block title %}New Visite{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
{% endblock %}

{% block body %}
    <h1 style="color: rgb(39, 39, 141);">Demander visite</h1>

    <div class="container">
        {{ include('visite/_form.html.twig') }}
    </div>

  <!--a href="{{ path('app_visite_index') }}">back to list</a-->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
