{% extends 'base.html.twig' %}

{% block title %}Visite{% endblock %}

{% block body %}
    <h1 style="color: rgb(46, 149, 204);">Visite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th style="color: rgb(46, 149, 204);">Id</th>
                <td>{{ visite.id }}</td>
            </tr>
            <tr>
                <th style="color: rgb(46, 149, 204);">Numero</th>
                <td>{{ visite.numero }}</td>
            </tr>
            <tr>
                <th style="color: rgb(46, 149, 204);">DateVisite</th>
                <td>{{ visite.dateVisite ? visite.dateVisite|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th style="color: rgb(46, 149, 204);">Email</th>
                <td>{{ visite.email }}</td>
            </tr>
            <tr>
                <th style="color: rgb(46, 149, 204);">Name</th>
                <td>{{ visite.name }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_visite_index') }}">Retourner au liste</a>

    <a href="{{ path('app_visite_edit', {'id': visite.id}) }}"> Modifier </a>

    {{ include('visite/_delete_form.html.twig') }}
{% endblock %}
