<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block css %}
        <!-- Include your CSS links here -->
    {% endblock %}
</head>
<body>
<div class="container">
    <h1 class="text-center">Liste des utilisateurs</h1>

    <table class="table table-bordered center-table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>E-mail</th>
            <th>Adresse</th>
            <th>Sexe</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.sexe }}</td>
                <td><a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% block javascripts %}
    <!-- Include your JS scripts here -->
{% endblock %}
</body>
</html>
